﻿
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/ForDiv.css" type="text/css" />

<div class="row">
    <div class="col-lg-4" id="ref">
        <h2>@Html.ActionLink("My account", "Users", "Details")</h2>
    </div>
    <div class="col-lg-4" id="ref">
        <h2>@Html.ActionLink("Products", "Products", "Details")</h2>
    </div>
    <div class="col-lg-4" id="ref">
        <h2>@Html.ActionLink("Orders", "Orders", "Details")</h2>
    </div>
</div>
