﻿@model IEnumerable<TaskTwo.Models.OrderInfo>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders of @User.Identity.Name</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Creating")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductNames)
        </th>
        <th></th>
    </tr>

@foreach (var order in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => order.OrderId)
        </td>
        <td>
            @foreach (var product in order.ProductNames)
            {
                <ul>
                    <li>@product</li>
                </ul>
            }
        </td>
    </tr>
}

</table>
