﻿@model TaskTwo.Models.Order

@{
    ViewBag.Title = "Orders";
}

<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
<link rel="stylesheet" href="~/Content/SelectStyling.css" type="text/css" />

<h2>Orders</h2>


<div class="row">
    <form action="/Creating/CreateOrder" method="post" >
        <div class="col-lg-2">
            <div id="orderForm">
                <div class="row" id="orderInputs">
                    <div class="custom-select">
                        <select name="checkProduct" id="checkbox" >
                            @foreach (var item in (IEnumerable<TaskTwo.Models.Product>)ViewData["products"])
                            {
                                <option value="@item.Id">@item.ProductName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <input type="submit" value="Create order">
            <input type="hidden" name="userId" value="@ViewData["userId"]" />
        </div>
        <div class="col-lg-2">
            <div id="addOrder_button" >Add product</div>
        </div>
    </form>
    
</div>

<hr />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/orderFormAjax.js"></script>
    }