﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <h2>Creating</h2>
    <hr />
    <div class="col-md-10">
        @Html.Partial("CreateProductPartial")
    </div>
</div>
<h2>@ViewBag.Status</h2>