﻿@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/ForDiv.css" type="text/css" />

<div class="row">
    <div class="col-lg-6" id="ref">
        <h2>@Html.ActionLink("Creating", "Index", "Creating")</h2>
    </div>
    <div class="col-lg-7" id="ref">
        <h2>@Html.ActionLink("Details", "Index", "Details")</h2>
    </div>
    <div class="col-lg-7" id="ref">
          <h2>@Html.ActionLink("Create order", "CreateOrder", "Creating")</h2>
    </div>
    
</div>



